.wrapper{
  margin-left: 125px;
  margin-top: 125px;
  position: absolute;
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 25px;
}

.colorFav{
  color: red;
  text-shadow: 1px 1px black;
}
